body{
    margin: 0;
    min-height: 200vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: Helvetica, sans-serif;
    background-color: #212121;
}

ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 24px;
}

a{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 32px;
    border-radius: 8px;
    border: 1px solid #3882F6;
    margin: 16px 0;
    font-size: 16px;
    font-weight: 600;
}

.section{
    /*box-sizing: border-box;*/
    width: 1024px;
    padding-left: 208px;
    padding-right: 208px;
}

.navybg{
    background-color: #1F2937;
}

.whitebg{
    background-color: white;
}

.greybg{
    background-color: #E5E7EB;
}

.panels-container{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 18px;
    padding-bottom: 55px;
}

.headerlogo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    padding: 0;
}

.panel{
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
}

.flexscale{
    flex: 1;
}

.up-left-title{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.up-left-text{
    color: #E5E7EB;
    font-size: 18px;
}

.up-image-placeholder{
    flex: 1;
    background-color: rgb(116, 116, 120);
    height: 100%;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    flex-flow: column nowrap;
}

.mp-title{
    font-size: 36px;
    font-weight: 900;
}

.picboxpair{
    margin: 16px;
}

.picbox{
    border-radius: 8px;
    border: 2px solid #3882F6;
}

.lp-quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 0 10%;
}

.lp-quoted{
    color: #1F2937;
    font-weight: bold;
    text-align: right;
    padding: 0 10%;
}

.f-banner{
    flex: 1;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 32px 32px;
    border-radius: 8px;
    border: 1px solid #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .f-left-title{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    padding: 0;
  }

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    color: #E5E7EB;
    font-size: 18px;
}

.white-border{
    border: 2px solid #FFFFFF;
}